.cart-item {
  min-height: 150px;
  background-color: $color-inner-form;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  gap: 20px;
  border-bottom: 1px solid $color-form;
  border-radius: 8px 8px 0 0;

  @include mobile() {
    min-height: 180px;
  }


  &:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
  }

  .cart-item__img {
    width: 100%;
    max-width: 180px;
    max-height: 130px;
    object-fit: cover;
    border-radius: 8px;
  }

  .cart-item__info {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .cart-item__name {
      width: 150px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .cart-item__variant {
      width: 190px;
    }


    & > .product-block__amount {
      flex-grow: 0;
      border: 1px solid $color-form;

      @include mobile() {
        width: 120px;
        padding: 5px;
      }
    }

    & > * {
      flex-grow: 1;
      text-align: center;
    }

    @include mobile() {
      flex-direction: column;
      gap: 10px;
    }
  }

}
