.profile__container {

  .MuiFormControlLabel-root {
    margin-right: 0;
  }

  .MuiTabs-root {
    width: 263px;
    border-radius: 8px;
    background-color: $color-shade-6;

    @include medium() {
      width: 100%;
    }

  }

  .tabs {
    display: flex;
    min-height: 420px;

    @include medium() {
      flex-direction: column;
    }
  }

  .MuiTabs-flexContainer {
    align-items: center;
    margin: 30px 10px;
    border-radius: 8px;
    background-color: $color-shade-0;

    @include medium() {
      margin: 20px 10px;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .MuiButtonBase-root {
      width: 100%;
      border-bottom: 1px solid $color-shade-5;

      @include medium() {
        width: 25%;
        border-bottom: none;
      }

      @include mobile() {
        @include font(10px, 700, normal);
      }

      &:last-child {
        border-bottom: none;
      }

    }
  }


  .MuiTabs-indicator {
    display: none;
  }
}

.tab__panel {
  width: 100%;
  background-color: $color-shade-0;
  border-radius: 8px;

  //.tab__panel-container {
  //  display: flex;
  //  gap: 4%;
  //  padding: 30px;
  //  height: 100%;
  //
  //  @include small() {
  //    flex-direction: column-reverse;
  //  }
  //
  //  @include medium-mobile() {
  //    padding: 10px;
  //  }
  //}

}

.personal__form-container {
  display: flex;
  gap: 4%;
  padding: 30px;
  height: 100%;

  @include small() {
    flex-direction: column-reverse;
  }

  @include medium-mobile() {
    padding: 10px;
  }
}

.form-customer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 48%;

  @include small() {
    width: 100%;
  }

  .form__content {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

    &_address {
      overflow-y: auto;
      gap: 10px;
      padding-top: 50px;
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .switch {
      align-self: flex-end;
    }

    @include small() {
      border-radius: 0 0 8px 8px;
    }
  }


}


.form__btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.profile__container-img {
  width: 48%;
  height: 300px;
  position: relative;

  @include small() {
    width: 100%;
    height: 200px;
  }

  @include medium-mobile() {
    width: 100%;
    height: 150px;
  }

  .profile__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;

    @include small() {
      border-radius: 8px 8px 0 0;
    }
  }
}


.card-address {
  width: 48%;
  height: 120px;
  position: relative;
}

.MuiCardContent-root {
  padding: 8px;

  & > p {
    @include font(12px, 400, normal);
  }
}

.MuiCardActions-root {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  .MuiButtonBase-root {
    padding: 6px;
  }

  .MuiSvgIcon-root {
    width: 15px;
    height: 15px;
  }

}

.add-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;

  .form-customer{
    width: 100%;
    height: 470px;
    background-color: #fdf9fc;
    padding: 40px;
    border-radius: 8px;

    .form__content{
      height: 350px;
    }
  }
}
