.profile__container {

  .MuiFormControlLabel-root{
    margin-right: 0;
  }
  .MuiTabs-root {
    width: 263px;
    border-radius: 8px;
    background-color: $color-shade-6;

    @include small() {
      width: 100%;
    }

  }

  .tabs {
    display: flex;
    min-height: 490px;
    @include small() {
      flex-direction: column;
    }
  }

  .MuiTabs-flexContainer {
    align-items: center;
    margin: 30px 10px;
    border-radius: 8px;
    background-color: $color-shade-0;
    @include small() {
      margin: 20px 10px;
      flex-direction: row;
      justify-content: space-evenly;
    }


    .MuiButtonBase-root {
      width: 100%;
      border-bottom: 1px solid $color-shade-5;

      @include small() {
        width: 25%;
        border-bottom: none;
      }

      @include mobile() {
        @include font(10px, 700, normal);
      }

      &:last-child {
        border-bottom: none;
      }

    }
  }


  .MuiTabs-indicator {
    display: none;
  }
}

.tab__panel {
  width: 100%;
  background-color: $color-shade-0;
  border-radius: 8px;

  .tab__panel-container {
    display: flex;
    gap: 4%;
    padding: 30px;
    height: 100%;

    @include medium-mobile() {
      flex-direction: column-reverse;
    }
  }

}

.form-customer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 48%;
  gap: 20px;

  @include medium-mobile() {
    width: 100%;
  }

  .form__content {
    height: 360px;
    display: flex;
    flex-direction: column;

    .switch{
      align-self: flex-end;
    }

    @include medium-mobile() {
      border-radius: 0 0 8px 8px;
    }
  }
}


.form__btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.profile__container-img {
  width: 48%;
  height: 360px;
  position: relative;

  @include medium-mobile() {
    width: 100%;
    height: 150px;
  }

  .profile__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;

    @include medium-mobile() {
      border-radius: 8px 8px 0 0;
    }
  }
}
