.sort-menu {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;

  .MuiList-root {
    padding: 0 !important;
    width: 100px;
  }

  &__list-item {
    padding: 0;

    & > div {
      & > span {
        text-align: center;
      }
    }

  }

  &__menu-item {
    @extend %transition;

    &.MuiMenuItem-root {
      font-size: inherit;
    }

    @include hover {

      &:hover {
        color: $color-primary-hover;
      }

    }
  }


}
