.sort-menu {
  width: 180px;

  &__list {
    width: 100%;
  }

  &__list-item {
    padding: 0;
  }

  &__menu-item {
    font-size: inherit;
    @extend %transition;

    @include hover {
    
      &:hover {
        color: $color-primary-hover;
      }
  
    } 
  }

  @include small {
    width: 150px;
  }

  @include small-mobile {
    width: 100%;
    align-self: left;
  }

}