.about{
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__item{
    & > h3{
      margin-bottom: 15px;
    }
    & > p{
      margin-bottom: 10px;

      & > span{
        margin-left: 10px;
        color: $color-brand-1;
      }
    }

  }
}
