.about {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__item {
    & h3 {
      margin-bottom: 15px;
    }

    & p {
      margin-bottom: 1rem;
      line-height: 1.5rem;

      .indent {
        margin-left: 10px;
      }

    }

  }
}