
.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
  min-width: 700px;
  max-width: 700px;

  .MuiAccordion-root.Mui-expanded {
    margin: 0;
    box-shadow: none;
  }

  .MuiAccordionSummary-content.Mui-expanded {
    margin: 10px 0;
  }

  .MuiAccordionSummary-root.Mui-expanded {
    min-height: 40px;
  }

  .MuiAccordionDetails-root {
    padding: 8px 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .MuiPaper-root {
    display: block;
    box-shadow: none;
    background-color: #EBF0E3;
    border-radius: 6px;

    &:last-child {
      border-top: 2px solid #CEDDD6;
    }

    &:before {
      display: none;
    }

  }

}

.form__content {
  h5 {
    margin-bottom: 10px;
  }
}

.form__columns {
  display: flex;
  justify-content: space-between;
}

.form__fieldset {
  flex-basis: 49%;
  border-radius: 4px;
  border: 1px solid #FFF;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h5 {
    margin-bottom: 10px;
    text-align: center;
  }

  p {
    @include font(38px, 700, normal);
    font-family: var(--pecita);
  }

  img {
    max-width: 80px;
  }
}

.form__fieldset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input__container {
  display: flex;
  gap: 10px;
}





