
.nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo{

  grid-column: span 2;

}

.nav__link {
  grid-column: span 1;
  justify-content: center;
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  @extend %transition;

  &:hover .nav-icon rect {
    stroke: $color-primary-hover;
  }
  &:hover .nav-icon path {
    fill: $color-primary-hover;
  }

  &:hover .link-title{
    color: $color-primary-hover;
  }

  .flower-icon{
    position: absolute;
    left: -20px;
  }
}


.link-title, .nav__currency {
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
}

.link-title{
  &_active {
    text-decoration: underline;
    font-weight: 700;
  }
}


.nav__auth{
  display: flex;
  justify-content: center;
  gap: 10px;
  & > p{
    align-self: center;
  }
}

