
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  @extend %transition;

  &:hover .nav-icon rect {
    stroke: $color-primary-hover;
  }
  &:hover .nav-icon path {
    fill: $color-primary-hover;
  }

  &:hover .link-title{
    color: $color-primary-hover;
  }

  .flower-icon{
    position: absolute;
    left: -20px;
  }
}


.link-title, .nav__currency {
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
}

.link-title{
  &_active {
    text-decoration: underline;
    font-weight: 700;
  }
}


.nav__currency{
  @extend %transition;
  & > p:hover{
    color: $color-primary-hover;
  }
}

