.nav {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 15px;
  align-items: center;

  @include mobile {
    font-size: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  h5 {
    @include mobile {
      font-size: 1.2rem;
    }
  }

}

.nav__link.logo {
  grid-column: span 4;

  @include mobile {
    grid-column: span 1;
  }

  svg {
    @include mobile {
      width: 120px;
      height: 70px;
    }
  }
}

.nav__burger {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 22px;
  cursor: pointer;
  position: relative;
  @extend %transition;
  z-index: 102;
  transition: .5s ease-in-out;
  transform: rotate(0deg);
}


.nav__burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-primary;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.nav__burger span:nth-child(2) {
  top: 0px;
}

.nav__burger span:nth-child(2) {
  top: 10px;
}

.nav__burger span:nth-child(3) {
  top: 20px;
}

.nav__burger.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

.nav__burger.open span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

.nav__burger.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

.nav__mobile-container {

  @include mobile {
    display: block;
    position: absolute;
    top: 39px;
    left: -$mq-mobile;
    overflow-x: hidden;
    width: 100%;
    z-index: 101;
    background-color: $color-background;
    width: 100%;
    height: 100vh;
    padding-top: 110px;
    transition: 0.5s;

    .nav__mobile-links {
      padding: 0 45px;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 30px;

      h5 {
        font-size: 1.75rem;
      }

    }

    @include small-mobile {
      padding-top: 100px;

      .nav__mobile-links {
        gap: 25px;

        h5 {
          font-size: 1.5rem;
        }

      }

    }

  }
}

.nav__mobile-container.open {

  @include mobile {
    left: 0;
  }

}

.nav__link {
  grid-column: span 2;
  justify-content: center;
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  @extend %transition;

  &:hover .nav-icon rect {
    stroke: $color-primary-hover;
  }

  &:hover .nav-icon path {
    fill: $color-primary-hover;
  }

  &:hover .link-title {
    color: $color-primary-hover;
  }

  @include mobile {
    grid-column: span 1;
  }

}

.link-title,
.nav__currency {
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
}

.link-title {
  &_active {
    text-decoration: underline;
    font-weight: 700;
  }
}

.nav__auth {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
  column-gap: 10px;
  grid-column: span 3;

  &>p {
    align-self: center;
  }

  @include mobile {
    justify-content: flex-end;
    grid-column: span 1;

    svg {
      width: 30px;
      height: 30px;
    }

  }

}

.nav__mobile-links h5::after {
  content: ' ❯';
}

.nav__info-for-clients {
  grid-column: span 3;

  @include mobile {
    grid-column: span 1;
  }

}