.login {
  height: 100vh;
  background-color: $color-shade-6;
  position: relative;
}

.login__background-img {
  height: 100%;
  width: 100%;
  background-image: url("./../../../public/img/png/texture.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-img {
  position: absolute;

  &_left {
    left: 0;
    top: 0;
  }

  &_right {
    right: 0;
    bottom: 0;
  }


}
//
//.MuiPaper-root{
//  position: relative;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  min-width: 800px;
//  max-width: 800px;
//  min-height: 600px;
//  padding: 90px 0 30px;
//}

.form-img {
  max-width: 550px;
  position: absolute;
  right: -55px;
  top: -50px;
}

.form-img-bottom{
  max-width: 260px;
  position: absolute;
  bottom: -50px;
  left: -7px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}

.form__content{
  //width: 100%;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //padding: 0 30px;
  //gap: 40px;
}

//.form__title{
//
//}



