.product-block__amount {
  border-radius: 10px;
  background: $color-shade-0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  width: 110px;
  align-items: center;
}
