.image-gallery.fs-product-gallery {

  height: 100%;

  .image-gallery-content {
    height: 100%;

    .image-gallery-slide-wrapper:not(:last-child) {
      height: calc(100% - 100px);
    }

    .image-gallery-thumbnails {
      height: 100px;
      overflow: hidden;

      .image-gallery-thumbnails-container {

      }

      * {
        height: 100%;
      }

      .image-gallery-thumbnail {
        border-radius: 10px;
        overflow: hidden;

        .image-gallery-thumbnail-image {
          height: auto;
          max-height: 100%;
          object-fit: cover;
        }
      }

    }

    .image-gallery-slide .image-gallery-image {
      height: 100%;
    }
  }

  .image-gallery-content.fullscreen {
    .image-gallery-slide-wrapper {
      max-height: calc(100vh - 150px);
    }

    .image-gallery-thumbnails-wrapper {
      height: 150px;
    }
  }

  .image-gallery-slide-wrapper {
    overflow: hidden;
    border-radius: 10px;
    background: $color-shade-0;

    .image-gallery-content {
      .image-gallery-slide .image-gallery-image {
        max-height: calc(100vh - 120px);
      }

      .image-gallery-image {
        width: 450px;
        height: 450px;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }

  .image-gallery-thumbnail.active {
    border-color: $color-brand-1;
  }

  .image-gallery-icon:hover {
    color: $color-brand-1;
  }
}
