@import "@/styles/abstract/variables";

.MuiFormControlLabel-root.fsCheckbox {
  .MuiFormControlLabel-label {
    color: $color-primary;

    &.Mui-disabled {
      color: $color-shade-4;
    }
  }


  &.Mui-disabled {
    .MuiSvgIcon-root {
      color: $color-shade-4;
    }

  }


}
