.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-top: -$padding-main;

  &__img {
    z-index: -1;
    object-fit: cover;
  }

  &__content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text-block {
    display: flex;
    height: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  &__text {
    text-align: center;
    color: $color-primary;
  }

  &__text-block h1 {
    font-size: 4rem;
  }

}
