.discounts {
  height: 380px;
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  //background: linear-gradient(to top, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.8) 70% , rgba(255, 255, 255, 0.9) 100%);
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;

  .discounts__img {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    max-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  .discounts__info {
    padding: 20px;
    margin-top: 40px;
    display: flex;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;


    h3 {
      line-height: 165%;
      max-width: 60%;

      span {
        color: $color-brand-1;
      }
    }

    .MuiButton-root.fsButton.big {
      margin: auto;
    }
  }
}
