.thanks {
  display: flex;
  align-items: center;
  gap: 30px;

  .thanks__image-block {
    position: relative;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %transition;
    cursor: pointer;
    
    * {
      fill: currentColor;  
    }
    
    .st0 {
        fill: #fff
    }
    
    .st1 {
        fill: currentColor;
        clip-path: url(#SVGID_2_)
    }
    
    .st2 {
        clip-path: url(#SVGID_4_)
    }
    
    .st3 {
        clip-path: url(#SVGID_6_)
    }
    
    .st4 {
        clip-path: url(#SVGID_8_)
    }
    
    .st5 {
        fill: #fff;
        stroke: currentColor;
        stroke-width: 4;
        stroke-miterlimit: 10
    }
    
    .st6 {
        clip-path: url(#SVGID_8_)
    }
    
    .st6,
    .st7 {
        fill: none;
        stroke: currentColor;
        stroke-width: 4;
        stroke-miterlimit: 10
    }
    
    .st8,
    .st9 {
        clip-path: url(#SVGID_10_)
    }
    
    .st9 {
        fill: none;
        stroke: currentColor;
        stroke-width: 4;
        stroke-miterlimit: 10
    }

    @include hover {
  
      &:hover {
        color: $color-primary-hover;
      }
  
    }

  }
}