%font-primary {
  font-family: var(--avenir-reg);
}

%font-secondary {
  font-family: var(--avenir-bold);
}

%font-title {
  font-family: var(--karton);
}

%transition {
  transition: all 0.3s ease-in-out;
}
