.catalog-page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 30px 0;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;

  @media (max-width: 1123px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0;
  }

}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include medium {
    gap: 10px;
  }

}

.settings {
  display: flex;
  flex-direction: column;
  min-width: 245px;
  padding: 15px;
  height: fit-content;

  .MuiTreeItem-content {

    .MuiTreeItem-label {
      font-size: inherit;
    }

  }

  .MuiFormControlLabel-label {
    font-size: inherit;
  }

  h4 {
    padding: 15px 0;
  }

  @include small {
    padding: 10px;

    h4 {
      padding: 10px 0;
    }

  }

}

.catalog__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, max-content));
  gap: 20px;
  min-height: 1300px;

  @media (max-width: 1123px) {
    justify-content: center;
  }


  @media(max-width: 858px) {
    min-height: 1540px;
  }

  @media(max-width: 539px) {
    min-height: 3030px;
  }

  @include small {
    grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
    gap: 10px;
  }

}

.catalog__message {
  grid-column: 1/-1;
  width: 100%;
  overflow-wrap: break-word;
  padding: 15px;

  @include medium {
    max-width: none;
  }

  @include small {
    padding: 10px;
  }

}

.searchbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  font-family: var(--avenir-reg);

  div {
    flex: inherit;
    font-size: inherit;
    color: var(--primary-color);

    p {
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }
  }

  @include small-mobile {
    flex-direction: column;
    padding-top: 8px;
  }

}
