.catalog-page-wrapper {
  display: grid;
  grid-auto-columns: 0.7fr 2fr 0.5fr;
  grid-auto-rows: 50px 0.3fr 1fr;
  grid-template-areas: 'settings search sort' 'settings catalog catalog' 'settings catalog catalog';
  padding: 30px 20px;
  gap: 20px;
  background-color: transparent;
  border-radius: 10px;
  position: relative;

  @include small() {
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 50px 1fr auto;
    grid-template-areas: 'setting-mobile sort' 'search search' 'catalog catalog';
    gap: 10px;
    padding: 20px 10px;
  }

}


#setting-mobile {
  grid-area: setting-mobile;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .MuiToggleButton-root {
    border-color: $color-form;
    padding: 8px;

    &:hover {
      background-color: $color-form;
    }
  }

  .MuiPaper-root {
    padding: 20px 40px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;

    .filters, .category-selector {
      width: 200px;

      .MuiTreeItem-content {
        padding: 0;

        .MuiTreeItem-label {
          font-size: inherit;
          text-transform: uppercase;

          @include medium-mobile() {
            font-size: 12px;
          }
        }

      }

      .MuiTreeItem-content.Mui-selected {
        background-color: transparent;
        text-decoration: underline;
      }


      .MuiFormControlLabel-label {
        font-size: inherit;
      }

      h4 {
        padding: 10px 0;
        text-transform: uppercase;
        @include medium-mobile() {
          font-size: 12px;
        }
      }
    }
  }
}

#settings {
  grid-area: settings;
}

#catalog {
  grid-area: catalog;
}

#search {
  grid-area: search;
}

#sort {
  grid-area: sort;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-top: 30px;

}

.settings {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: fit-content;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .MuiTreeItem-content {
    padding: 0;

    .MuiTreeItem-label {
      font-size: inherit;
      text-transform: uppercase;

      @include medium-mobile() {
        font-size: 12px;
      }
    }

  }

  .MuiTreeItem-content.Mui-selected {
    background-color: transparent;
    text-decoration: underline;
  }


  .MuiFormControlLabel-label {
    font-size: inherit;
  }

  h4 {
    padding: 10px 0;
    text-transform: uppercase;
    @include medium-mobile() {
      font-size: 12px;
    }
  }

}

.catalog__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  min-height: 900px;
  justify-content: flex-start;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }


  @include medium-mobile() {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.catalog__message {
  grid-column: 1/-1;
  width: 100%;
  overflow-wrap: break-word;
  padding: 15px;

  @include medium {
    max-width: none;
  }

  @include small {
    padding: 10px;
  }

}

.category-selector {

  &__tree {
    overflow-y: auto;
  }

}
