.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.header-menu {
  display: flex;
  background-color: $color-primary;
  padding: 10px 0;
}

.header-menu__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .nav__link{
    justify-content: flex-end;
  }


  & > * {
    flex-basis: 33%;

    @include small {
      flex-basis: 48%;
    }
  }
}

.header-menu__address,
.header-menu__phone {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: $color-shade-0;

  & > p span {
    color: $color-brand-1;
    @include font(16px, 700, normal);
    margin-right: 2px;
  }

}

.header-menu__address {
  justify-content: center;
  @include small {
    display: none;
  }

}

.header-menu__phone {
  justify-content: flex-start;

  @include small {
    background-color: $color-primary;
    justify-content: flex-start;
  }

}

.phone {
  color: $color-shade-0;
  @include font(16px, 700, normal);
  text-decoration: none;
  align-self: flex-end;

  @include small {
    @include font(12px, 700, normal);
  }
}


.header-menu__cart {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  position: relative;

  .cart__sum {
    color: #FFF;
    align-self: flex-end;
    @include font(16px, 700, 98%);
  }

}

.header-nav {
  background-color: $color-shade-0;
}


.MuiBadge-badge{
  right: 35px;
  top: 5px;
}
