.footer-nav{
  background-color: $color-primary-light;
  padding: 30px 0;


  .link-title {
    color: $color-shade-0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;

    &_active {
      text-decoration: underline;
      font-weight: 700;
    }

    &:hover{
      color: $color-primary;
    }

  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &:hover .nav-icon rect{
    stroke: $color-primary-light;
    cursor: pointer;
  }
  &:hover .nav-icon path {
    fill: $color-primary-light;
    cursor: pointer;
  }
}

.link-title, .nav__currency {
  color: $color-primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;

  &_active {
    text-decoration: underline;
    font-weight: 700;
  }

  &:hover{
    color: $color-primary-light;
  }

}


