@import "@/styles/abstract/variables";

* {
  box-sizing: border-box;
}

html {
  background: $color-background;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  @extend %font-primary;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $color-primary;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  padding: $padding-main 0;
  flex-grow: 1;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;
  flex-grow: 1;
}

.highlight {
  color: $color-brand-1;
}