html {
  background: #F9F8FB;
}

a{
  text-decoration: none;
}

body {
  @extend %font-primary;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding: 40px 0;
}

.container{
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;
}
