.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.header-nav__link{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.link-title, .header-nav__currency{
  color: $color-primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;

  &_active{
    text-decoration: underline;
    font-weight: 700;
  }

  &:hover{
    color: $color-primary-light;
  }
}

