// colors
$color-primary: #5B4A58;
$color-primary-light: #746471;
$color-brand-1: #6AAE55;
$color-brand-1-light: #F6FFF3;
$color-brand-2: #F2994A;
$color-error: #EB5757;

$color-background: #F9F8FB;

$color-gray-0: #FFFFFF;
$color-gray-2: #4F4F4F;
$color-gray-3: #828282;
$color-gray-4: #BDBDBD;
$color-gray-5: #E0E0E0;
$color-gray-6: #F2F2F2;
